<!DOCTYPE html>
<html>
    <head>
        <title>Todo list</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="box">
            <h1>To do list</h1>
        </div>
        <div class="box">
            <!-- <% %> - for any js code -->
            <%for(var i=0;i< ejes.length ; i++){%>
                <div class="item">
                    <!-- separate para for each item -->
                    <input type="checkbox">
                    <p><%= ejes[i] %></p>
                </div>
            <%}%>
            <form action="/" method="post">
                <input type="text" name="e1" placeholder="Enter the task">
                <button type="submit">+</button>
            </form>
        </div>
    </body>
</html>